# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# 1. 忽略整个临时生成的文件夹
public/temp/

# 2. 如果之前设置了忽略所有 pptx，可通过 ! 排除模板文件
*.pptx
!blank_template.pptx
# 如果模板在子目录下，写作：!public/templates/blank_template.pptx

.next

node_modules

